{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash.{{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="POST" class="form-contact">
    <p><label>Login: </label><input type="text" name="name" placeholder="Login" value="" required />
    <p><label>Email: </label><input type="email" name="email" placeholder="E-mail" value="" required />
    <p><label>Password: </label><input type="password" name="psw" placeholder="Password" value="" required />
    <p><label>Repeat password: </label><input type="password" name="psw2" placeholder="Password" value="" required />
    <p><input type="submit" value="Sign up" />
	</form>
{% endblock %}